<html>
	<head>
		<title>
			Blog Home
		</title>
	</head>
	<body style="background-color: #f7f2d7;">
	    <p>Hi there!</p>
	    <p>
	    	<div style="color: green;">
			    <em>This is emphasized</em><br>
			    <strong>This is strong</strong><br>
			    <a style="color: green; text-decoration:none;" href="https://djangogirls.org">This anchor tag leads you to somewhere else</a>
			</div>
		</p>
		<p>It works!</p>
		<ul style="list-style-type: none; color: #78bfbd; border: 2px solid #8a47a1; margin-right: 70vw;">
			<li style="color:blue;">first item</li>
			<li>second item</li>
		</ul>
		<h1 style="float: right; color: green; display: inline;">floated right</h1>
		yadaa yadaa<br>
		
	</body>
</html>
